input[type="button"]
{
    width:100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.calculator{
    height: 115px;
    width: 185px;
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
}
#a{
    background-color: aliceblue;
    color: black;

}